.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    height: auto;
    // object-fit: contain;
}
.carousel-item img {
    // border-radius: 20px;
    height: 600px;
    object-fit: cover;


}

.carousel-caption {
    bottom: 32%;
    background: rgba(0, 0, 0, 0.047);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    color: var(--white);
    font-weight: bolder;
    // font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Satisfy', cursive;
    // box-shadow: var(--shadow-box);
}


.small-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .small-img {
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
    
        img {
            height: auto;
            width: 60px;
            object-fit: contain;
            margin-top: 6px;
            border-radius: 6px;
        }
        
    }
}



@media (max-width: 992px){
    .carousel-item img {
        height: 250px;
    }

    .carousel-caption {
        bottom: 12% !important;
        border-radius: 20px;
       
    }
    // h1.display-2 {
    //     font-size: 17px;
    // }
}

@media (max-width: 557px){
    .carousel-indicators {
        display: none ;
    }
    .carousel-item img {
        height: 170px;
        object-fit: cover;
        width: 100%;
    }

    .carousel-caption {
        bottom: 8% !important;
        border-radius: 20px;
        width: 50%;
    left: 40%;

        h1.display-2 {
            font-size: 25px;
        }

        h2{
            font-size: 15px;
        }
       
    }

}